In [1]:
a=[1,3,5,7,9,11]
# want to make list: [2,4,6,8,10,22]

In [2]:
b=[]
for i in a:
    b.append(i*2)
print(b)

[2, 6, 10, 14, 18, 22]

In [3]:
d=[x*2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [4]:
# make [1,4,9,16,25,36]
e1=[y**2 for y in range(1,7)]
print(e)

[1, 4, 9, 16, 25, 36]

In [5]:
e2=[]
for y in range(1,7):
    e2.append(y**2)
print(e2)

[1, 4, 9, 16, 25, 36]

In [8]:
# creat list: [36,25,16,9,4,1]
f1=[]
for z in range(6,0,-1):
    f1.append(z**2)
print(f1)

[36, 25, 16, 9, 4, 1]

In [9]:
f2=[z**2 for z in range(6,0,-1)]
print(f2)

[36, 25, 16, 9, 4, 1]