In [1]:
a=["banana","apple","microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [7]:
b=[20,10,5]
total=0
for e in b:
    total=total+e
print(total)

35

In [8]:
# creat a list [1,2,3,4]
c=list(range(1,5))
print(c)

[1, 2, 3, 4]

In [10]:
total2=0
for i in range(1,5):
    total2+=i
print(total2)

10

In [11]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [14]:
total3=0
for i in range(1,8):
    if i%3==0:
        total3+=i
print(total3)

9

In [15]:
# compute all multiples of 3,5 that are less than 100
for e in range(1,100):
    if e%3==0 or e%5==0:
        print(e)
    else:
        continue

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99